In [4]:
import pandas as pd
df=pd.read_csv('titanic.csv')

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df.drop(['Name','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)

In [15]:
df

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0              1         0       3    male  22.0      1      0
1              2         1       1  female  38.0      1      0
2              3         1       3  female  26.0      0      0
3              4         1       1  female  35.0      1      0
4              5         0       3    male  35.0      0      0
..           ...       ...     ...     ...   ...    ...    ...
886          887         0       2    male  27.0      0      0
887          888         1       1  female  19.0      0      0
888          889         0       3  female   NaN      1      2
889          890         1       1    male  26.0      0      0
890          891         0       3    male  32.0      0      0

[891 rows x 7 columns]

In [17]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

In [19]:
df.drop(['PassengerId','SibSp','Parch'],axis='columns',inplace=True)
df

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [21]:
inputs=df.drop(['Survived'],axis='columns')
target=df.Survived

In [23]:
inputs,target

(     Pclass     Sex   Age
 0         3    male  22.0
 1         1  female  38.0
 2         3  female  26.0
 3         1  female  35.0
 4         3    male  35.0
 ..      ...     ...   ...
 886       2    male  27.0
 887       1  female  19.0
 888       3  female   NaN
 889       1    male  26.0
 890       3    male  32.0

 [891 rows x 3 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: Survived, Length: 891, dtype: int64)

In [25]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [27]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age  female   male
0       3    male  22.0   False   True
1       1  female  38.0    True  False
2       3  female  26.0    True  False

In [29]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age  female
0       3  22.0   False
1       1  38.0    True
2       3  26.0    True

In [31]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [37]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age  female
0       3  22.0   False
1       1  38.0    True
2       3  26.0    True
3       1  35.0    True
4       3  35.0   False

In [39]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [44]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [46]:
model.fit(X_train,y_train)

GaussianNB()

In [50]:
model.score(X_test,y_test)

0.7388059701492538

In [52]:
model.predict(X_test[0:10])

array([1, 1, 0, 1, 1, 0, 0, 1, 0, 0], dtype=int64)

In [54]:
model.predict_proba(X_test[:10])

array([[0.08374577, 0.91625423],
       [0.01892755, 0.98107245],
       [0.86399605, 0.13600395],
       [0.12188349, 0.87811651],
       [0.15839938, 0.84160062],
       [0.58820484, 0.41179516],
       [0.93063774, 0.06936226],
       [0.16308881, 0.83691119],
       [0.9384657 , 0.0615343 ],
       [0.9384657 , 0.0615343 ]])

In [56]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.76      , 0.824     , 0.784     , 0.82258065, 0.81451613])